<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">	
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
</servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Thesis_upload</servlet-name>
    <servlet-class>servlet.Thesis_upload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Msgsender</servlet-name>
    <servlet-class>servlet.Msgsender</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>servlet.ProfileUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalUpdate</servlet-name>
    <servlet-class>servlet.ProposalUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageGet</servlet-name>
    <servlet-class>servlet.MessageGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageSent</servlet-name>
    <servlet-class>servlet.MessageSent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>admin.AddStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>admin.AddTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>admin.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelStudent</servlet-name>
    <servlet-class>admin.DelStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountStudent</servlet-name>
    <servlet-class>admin.CountStudent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Rename</servlet-name>
    <servlet-class>admin.Rename</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>admin.ChangePassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelFunction</servlet-name>
    <servlet-class>admin.DelFunction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelTeacher</servlet-name>
    <servlet-class>admin.DelTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountTeacher</servlet-name>
    <servlet-class>admin.CountTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeTitle</servlet-name>
    <servlet-class>admin.ChangeTitle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelAdmin</servlet-name>
    <servlet-class>admin.DelAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountAdmin</servlet-name>
    <servlet-class>admin.CountAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherSet</servlet-name>
    <servlet-class>admin.TeacherSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnableSet</servlet-name>
    <servlet-class>admin.EnableSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisableSet</servlet-name>
    <servlet-class>admin.DisableSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DutySet</servlet-name>
    <servlet-class>admin.DutySet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountDuty</servlet-name>
    <servlet-class>admin.CountDuty</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DutyNumSet</servlet-name>
    <servlet-class>admin.DutyNumSet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalPush</servlet-name>
    <servlet-class>teacher.ProposalPush</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalEdit</servlet-name>
    <servlet-class>teacher.ProposalEdit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalSave</servlet-name>
    <servlet-class>teacher.ProposalSave</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalChoose</servlet-name>
    <servlet-class>servlet.ProposalChoose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalVerify</servlet-name>
    <servlet-class>teacher.ProposalVerify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProposalApprove</servlet-name>
    <servlet-class>teacher.ProposalApprove</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThesisDownload</servlet-name>
    <servlet-class>teacher.ThesisDownload</servlet-class>
  </servlet>


































 
<servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Thesis_upload</servlet-name>
    <url-pattern>/thesis-upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Msgsender</servlet-name>
    <url-pattern>/message-sender</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/profile-update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalUpdate</servlet-name>
    <url-pattern>/proposal-update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageGet</servlet-name>
    <url-pattern>/message-get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageSent</servlet-name>
    <url-pattern>/message-sent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/admin/addstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/admin/addteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/admin/addadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelStudent</servlet-name>
    <url-pattern>/admin/delstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountStudent</servlet-name>
    <url-pattern>/admin/countstudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Rename</servlet-name>
    <url-pattern>/admin/rename</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/admin/changepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelFunction</servlet-name>
    <url-pattern>/admin/delfunction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelTeacher</servlet-name>
    <url-pattern>/admin/delteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountTeacher</servlet-name>
    <url-pattern>/admin/countteacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeTitle</servlet-name>
    <url-pattern>/admin/changetitle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelAdmin</servlet-name>
    <url-pattern>/admin/deladmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountAdmin</servlet-name>
    <url-pattern>/admin/countadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherSet</servlet-name>
    <url-pattern>/admin/teacherset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnableSet</servlet-name>
    <url-pattern>/admin/enableset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisableSet</servlet-name>
    <url-pattern>/admin/disableset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DutySet</servlet-name>
    <url-pattern>/admin/dutyset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountDuty</servlet-name>
    <url-pattern>/admin/countduty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DutyNumSet</servlet-name>
    <url-pattern>/admin/dutynumset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalPush</servlet-name>
    <url-pattern>/teacher/proposal-push</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalEdit</servlet-name>
    <url-pattern>/teacher/proposal-edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalSave</servlet-name>
    <url-pattern>/teacher/proposal-save</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalChoose</servlet-name>
    <url-pattern>/proposal-choose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalVerify</servlet-name>
    <url-pattern>/teacher/proposal-verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProposalApprove</servlet-name>
    <url-pattern>/teacher/proposal-approve</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThesisDownload</servlet-name>
    <url-pattern>/teacher/thesis-download</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
